//Adding variables
$coverImage-height: 500px;
$textColor-green: rgb(9, 162, 159);
$textColor-gray: rgba(133, 133, 133, 0.73);
$fontFamily: sofia-pro,helvetica,arial,sans-serif;
$border-radius-circle: percentage(0.5);